{% extends 'base.html' %}

{% block body %}

{% block nav %}
<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="{{ url_for('status') }}" class="nav-link">Statistics</a></li>
        <li class="nav-item"><a href="{{ url_for('settings') }}" class="nav-link active"
                                aria-current="page">Settings</a></li>
        <li class="nav-item"><a href="{{ url_for('base') }}" class="nav-link">Logout</a></li>
    </ul>
</header>
{% endblock nav %}

{% if error %}
<p><strong>ERROR:</strong> {{ error }}</p>
{% endif %}

{% block settings %}
<style>
div.settings {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
div.house {
    width: 30%;
}
form {
    width: fit-content;
}
div.house-name {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    align-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
}
.house-h5 {
    margin-bottom: 10px;
    margin-left: 5px;
    border-bottom: 1px solid #dadada;
}
div.structure, div.sensor {
    margin-left: 10px;
}
input.user_input {
    border: none;
}
input.user_input:hover {
    border-bottom: 1px solid #aeaeae;
}
input.user_input:after {
    border-bottom: 1px solid #aaaaaa;
}
button.save {
    border: none;
    background-color: #ffffff;
}
input:focus, input:focus{
    outline: none;
}
::placeholder {
    font-size: 10px;
    display: flex;
    justify-content: space-around;
}
</style>


<div class="settings">

    {% for house in data %}
    <div class="house">
        <div class="house-name">
            <span>house name: </span>
            <h5 class="house-h5">{{ house }}</h5>
        </div>
        {% for structure in data[house] %}
        <div class="structure">
            <h5 class="structure-h5">{{ structure }}</h5>
            {% for sensor in data[house][structure] %}
            <div class="sensor">
                <h6>{{ sensor }}:</h6>
                <form method="post">
                    <input class="user_input" type="number" min="0" max="100" step="1" name="{{house}}.{{structure}}.{{sensor}}" placeholder="set to: {{ data[house][structure][sensor] }}">
                    <button class="save" type="submit">Save</button>
                </form>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

<input type="button" onclick="addNewHouse()" value="add new house">
<div id="newHouse"></div>


<script>
function show_form() {
    let l = document.getElementById('add_new_house_form').elements

    let dict = {
        'house_name': l[0].value,
        'boiler-temperature': l[1].value
    };

    for (let i = 2; i < l.length - 2; i++) {
        dict[l[i].id + i.toString()] = l[i].value;
    }

    console.log(dict)
}

function addNewHouse() {
    var div = document.getElementById('newHouse');
    function house_base() {
        var form = document.createElement("form");
        form.setAttribute("id", "add_new_house_form");
        form.setAttribute("action", "show_form()");

        var house_name = document.createElement('input');
        house_name.setAttribute("placeholder", "house name");
        house_name.setAttribute("id", "house_name");
        form.appendChild(house_name);

        var boiler_temperature = document.createElement('select');
        boiler_temperature.setAttribute("placeholder", "boiler_temperature");
        boiler_temperature.setAttribute("name", "boiler_temperature");
        boiler_temperature.setAttribute("id", "boiler_temperature");


        var boiler = document.createElement('option');
        boiler.setAttribute("value", "0-100");
        boiler.innerHTML = "boiler temperature default";

        boiler_temperature.appendChild(boiler);
        form.appendChild(boiler_temperature);

        function addRow() {

            var div = document.createElement('div');
            div.setAttribute("id", "row");

            var structure = document.createElement('input');
            structure.setAttribute("placeholder", "structure");
            structure.setAttribute("id", "new_structure");
            div.appendChild(structure);

            var sensor = document.createElement('select');
            sensor.setAttribute("placeholder", "sensor");
            sensor.setAttribute("id", "new_sensor");
            // sensor.setAttribute("size", "2");

            var temp_sensor = document.createElement('option');
            temp_sensor.setAttribute("value", "temperature");
            let text = "temperature";
            temp_sensor.innerHTML = text;
            sensor.appendChild(temp_sensor);

            var humid_sensor = document.createElement('option');
            humid_sensor.setAttribute("value", "humidity");
            text = "humidity";
            humid_sensor.innerHTML = text;
            sensor.appendChild(humid_sensor);

            div.appendChild(sensor);

            var sensor_ui_value = document.createElement('input');
            sensor_ui_value.setAttribute("placeholder", "sensor_ui_value");
            sensor_ui_value.setAttribute("id", "sensor_ui_value");
            div.appendChild(sensor_ui_value);

            var elem = document.getElementById('add_new_house');
            form.insertBefore(div, elem);
        }
        var add_row_bttn = document.createElement("input");
        add_row_bttn.setAttribute("type", "button");
        add_row_bttn.setAttribute("id", "add_new_house");
        add_row_bttn.setAttribute("onclick", addRow());
        add_row_bttn.setAttribute("value", "add structure");
        add_row_bttn.onclick = function() {addRow();};
        form.appendChild(add_row_bttn);

        var s = document.createElement("input");
<!--        s.setAttribute("type", "submit");-->
        s.setAttribute("type", "button");
        s.setAttribute("value", "Submit");
        s.onclick = function() {show_form();};
        form.appendChild(s);

        document.getElementById('newHouse').appendChild(form);
    }
    house_base()
}


</script>

<!--    // TODO  button 'rename' for each elem on page-->
<!--    // TODO  button 'add' for each elem on page-->

<!--    // TODO  add check if new_structure count <= 2-->
<!--    // TODO  beautify 'add new house' -->




{% endblock settings %}
{% endblock body %}